@page "/"
@page "/index.html"

<PageTitle>Your App Title</PageTitle>
<HeadContent>
    <meta name="description" content="Your App Description" />
    <meta name="keywords" content="Your App Keywords" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<FluentHeader Style="background-color:#FF0000;">
    Your App Title
</FluentHeader>

<main>
<h1>Hello, world!</h1>

Welcome to your new app.
</main>